.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: visible;
}

.card-header {
  text-align: center;
  font-size: 1.75em;
  padding: 10px 0;
  background-color: #4caf50; /* Soft green */
  color: white;
}

.card-body {
  padding: 20px;
  background-color: #f9f9f9; /* Soft background color */
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.custom-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e0f7fa;
  color: #00796b;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.error-text {
  color: #f44336;
  font-size: 0.75em;
  margin-top: 4px;
}

.form-group label {
  margin-bottom: 0.5rem;
  color: #333;
}

.form-group input,
.form-group select {
  margin-bottom: 0.5rem;
}