<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">E-Öğrenci Takip & Analiz</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/user">Profil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Öğrenci İşlemleri
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/dersprogramlari">Hedefler</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
            <!-- <li><a class="dropdown-item" routerLink="/to-do-list">Yapılcaklar</a></li>
            <li><hr class="dropdown-divider"></li> -->
            <!-- <li><a class="dropdown-item" routerLink="/ogrenci">Öğrenci</a></li> -->
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
      <button class="btn btn-outline-danger mx-1" (click)="logout()">Logout</button>
      <button class="btn btn-primary" id="popupButton" (click)="openPopUp()">Öğrenci Hedef</button>
    </div>
  </div>
</nav>

<br><br>

<div class="container mb-5">
  <h2>Ders Programları</h2>
  
  <!-- Ders Programları Carousel -->
  <div id="dersProgramlariCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let program of dersProgramlari; let i = index" [class.active]="i === 0">
        <div class="row">
          <div class="col-md-3" *ngFor="let program of dersProgramlari.slice(i * 4, (i * 4) + 4)">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Ders Programı ID: {{program.dersProgramiID}}</h5>
                <p class="card-text">Günlük Çalışma Saati: {{program.gunlukCalismaSaati}}</p>
                <p class="card-text">Haftada Çalışılacak Gün Sayısı: {{program.haftadaCalisilacakGunSayisi}}</p>
                <h6 class="card-subtitle mb-2 text-muted">Konular:</h6>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" *ngFor="let konu of konuBilgileri">
                    {{ konu.konuIsmi }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Carousel Kontrolleri -->
    <button class="carousel-control-prev" type="button" data-bs-target="#dersProgramlariCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Önceki</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#dersProgramlariCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Sonraki</span>
    </button>
  </div>
  
  <h2>Öğrenci Bilgileri</h2>
  <table class="table table-striped custom-table mb-5">
    <thead>
      <tr>
        <th scope="col">Ad</th>
        <th scope="col">Soyad</th>
        <th scope="col">Alan</th>
        <th scope="col">Minimum Hedef</th>
        <th scope="col">Maksimum Hedef</th>
      </tr>
    </thead>
    <tbody class="mb-5">
      <tr *ngFor="let ogrenci of ogrencis">
        <td>{{ ogrenci.ad }}</td>
        <td>{{ ogrenci.soyad }}</td>
        <td>{{ ogrenci.alan }}</td>
        <td>{{ ogrenci.minHedef }}</td>
        <td>{{ ogrenci.maxHedef }}</td>
      </tr>
    </tbody>
  </table>
</div>
