/* Navbar styles */
.navbar-brand {
  font-weight: bold;
  color: #4caf50;
}

.nav-link {
  color: #333;
}

.nav-link.active {
  font-weight: bold;
  color: #4caf50;
}

.nav-link:hover {
  color: #4caf50;
}

/* Button styles */
.btn-outline-dark {
  border-color: #4caf50;
  color: #4caf50;
}

.btn-outline-dark:hover {
  background-color: #4caf50;
  color: #fff;
}

.btn-outline-danger {
  border-color: #f44336;
  color: #f44336;
}

.btn-outline-danger:hover {
  background-color: #f44336;
  color: #fff;
}

.btn-primary {
  background-color: #4caf50;
  border-color: #4caf50;
}

.btn-primary:hover {
  background-color: #45a049;
  border-color: #45a049;
}

#popupButton {
  margin-left: 10px;
}

/* Table styles */
.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: separate;
  border-spacing: 0 15px; /* Add some spacing between rows */
}

.table thead th {
  background-color: #4caf50;
  color: white;
  text-align: center;
}

.table tbody tr {
  transition: background-color 0.3s;
}

.table tbody tr:hover {
  background-color: #e6ffe6;
}

/* Custom table styles */
.custom-table th,
.custom-table td {
  text-align: center;
  vertical-align: middle;
  padding: 10px; /* Add padding for better spacing */
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.custom-table tbody tr:nth-child(odd) {
  background-color: #fff;
}

.custom-table {
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  border-radius: 8px; /* Rounded corners */
}

.custom-table thead th {
  border-top-left-radius: 8px; /* Rounded corners for the header */
  border-top-right-radius: 8px;
}

/* Card styles */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: bold;
  color: #4caf50;
}

.card-body p {
  margin: 0;
}

/* Carousel controls */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
